sthread2 {
  display: block;
  background-color: var(--grey3);
  width: 500px;
  margin: 0 auto;
  border: 1px solid var(--light);
}

sthread2 .sthread2-top {
  display: flex;
  border: 1px solid var(--light);
}

sthread2 .sthread2-top-left {
  padding: 20px;
  border-right: 1px solid var(--light);
  width: 100px;
  height: 100px;
  background: var(--grey2);
}

sthread2 .sthread2-top-left img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  color: var(--accentash), 0.5;
}

sthread2 .sthread2-top-right {
    padding: 20px;
    display: flex;
    font-family: var(--fonthead);
    font-size: 28px;
    color: var(--accentgroup);
    height: 100px;
    width: 320px;
    justify-content: flex-end;
    align-items: flex-start;
    text-align: left;
    line-height: 120%;
    flex-direction: column;
}

sthread2 .sthread2-mid {
  padding: 40px;
}

sthread2 .sthread2-mid p {
  text-align: justify;
  line-height: 170%;
  font-family: var(--fontbody);
}

sthread2 .sthread2-mid b {
  color: var(--accentgroup);
}

sthread2 .sthread2-mid i {
  font-family: var(--fonthead);
  color: var(--accentgold);
}

sthread2 .sthread2-bot {
  display: flex;
  border-top: 1px solid var(--light);
}

sthread2 .sthread2-bot-left {
  width: 40px;
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid var(--light);
  background: var(--grey2);
}

sthread2 .sthread2-bot-right {
  padding: 10px;
}
